# Python ignores
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.env
.venv
venv/
ENV/
env/
.ipynb_checkpoints/
*.sqlite3
*.log
*.pot
*.mo
*.coverage
.coverage.*
.cache/
.pytest_cache/
.mypy_cache/
.dmypy.json
.pyre/

# C# ignores
bin/
obj/
*.exe
*.dll
*.pdb
*.app
*.user
*.suo
*.sln.docstates
*.vspscc
*.vssscc
*.dbmdl
*.log
*.vs/
TestResults/
*.nupkg
*.snk
*.psess
*.vsp
*.pidb
*.svclog
*.scc
*.cache
*.ide
*.sdf
*.opensdf
*.v12.suo
*.v11.suo
*.suo
*.userprefs
*.csproj.user
*.csproj.vspscc
*.csproj.vssscc
_ReSharper*/
*.DotSettings.user
*.DotSettings

# Common
*.txt